include ./mixins.pug
-
  const menu = ['Главная','Обо мне','Навыки','Работы','Отзывы','Связаться']
  const socials = ['insta', 'vk', 'github']
  const skills = [
  ['Front-end', ['HTML5', 'CSS3', 'Javascript','Jquery<br> и Vue.js']],
  ['Workflow', ['GIT', 'Terminal', 'Gulp','Webpack']],
  ]
  const userInfo = [
  ['Проживаю', 'Новосибирск'],
  ['Возраст', '27 лет'],
  ['Родился', '1 января 1991'],
  ]
  const reviews = [
  {
  desc: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых ' +
  'испытаний и бессонных ночей!',
  author: 'Ковальчук Дмитрий',
  position: 'Основатель Loftschool',
  avatar: 'avatar1.png'
  },
  {
  desc: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах' +
  'испытаний и бессонных ночей!',
  author: 'Владимир Сабанцев',
  position: 'Преподаватель',
  avatar: 'avatar2.png'
  }
  ]

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      main
        .top-wrapper
          header.header
            .container.header__container
              .logo.header__logo ВА
              nav.nav.header__nav
                ul.nav__list
                  each item in menu
                    li.nav__item
                      a.nav__link(href="#" title="#{item}") #{item}
              .social-list.header__socials
                each item in socials
                  a.social-list__link(href='#')
                    +icon(`${item}`, 'social-list__icon')
          section.hero
            .hero__content
              .hero__subtitle Личный сайт<br>веб разработчика
              h1.hero__title Величко<br>Александр
            .hero__scroll
              | Скролл
              +icon('scroll', 'hero__icon')
          section.hello
            .hello__wrapper
              .hello__left
                .user
                  .avatar.user__avatar
                    +image('content/user.jpg', 'avatar__img')
                  .user__info.hello__info
                    each item in userInfo
                      .user__item
                        .user__label #{item[0]}:
                        .user__value #{item[1]}
              .hello__right
                .hello__subtitle Привет, меня зовут
                .hello__title  Величко Александр
                .hello__desc
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .hello__disclaimer
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        +triangles
        section.skills
          .container
            .skills__title Чем я могу быть полезен вам
            .skills__desc
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .skills__wrapper
              .skills-list.skills__list
                each item in skills
                  .skills-list__title #{item[0]}
                  .skills-list__row
                    each skill in item[1]
                      .skills-list__item
                        .skill
                          svg(viewBox="0 0 156 156" preserveAspectRatio="none").skill__shape
                            linearGradient#gradient(x1="100%" y1="50%" x2="0" y2="50%")
                              stop(offset="0%" stop-color="#9300e8" )
                              stop(offset="100%" stop-color="#4a00ed")
                            circle(r="65" cx="78" cy="78").skill__circle.skill__circle--position--under
                            circle(r="65" cx="78" cy="78" stroke="url(#gradient)").skill__circle.skill__circle--position--above
                          .skill__title !{skill}
        section.works
          .container
            .works__title.title Мои работы
            .works__wrapper
              .works__left
                .works-slider
                  .works-slider__active
                    .works-slider__number 4
                    +image(`worksPreview/1.jpg`,'works-slider__active-img')
                    .works-slider__preview
                      - for(let i =4;i>0;i--)
                      +image(`worksPreview/${i}.jpg`,`works-slider__preview-item
                          ${i == 1 ? 'works-slider__preview-item--active' : ''}`)
                  .works-slider__controls
                    .works-slider__btn.works-slider__btn--up
                      +icon('arrow-down','works-slider__icon')
                    .works-slider__btn.works-slider__btn--down
                      +icon('arrow-down','works-slider__icon')
              .works__right
                .works__tags
                  span.works__tag HTML
                  span.works__tag CSS
                  span.works__tag Javascript
                .works__subtitle Сайт школы<br>образования
                .works__desc
                  p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2<br>месяца только самых тяжелых<br> испытаний и бессонных ночей!
                a.works__link(href="#") Посмотреть сайт
        .bottom-wrapper
          .triangles.triangles--top
            svg.triangles__single(viewBox="0 0 1000 100" preserveAspectRatio="none")
              polygon(points="0,0 500,100 1000,0")
          section.about
            .container
              .about__header
                .title Что обо мне говорят
                .about__buttons
                  .slider-controls
                    .slider-controls__button.slider-controls__button--left
                      +icon('arrow-down','slider-controls__icon')
                    .slider-controls__button.slider-controls__button--right
                      +icon('arrow-down','slider-controls__icon')
              .about__slider
                .slider
                  each review in reviews
                    .slider__item
                      backquote.slider__desc= review.desc
                      .slider__autor
                        .slider__img
                          +image(`${review.avatar}`, 'slider__image')
                        .slider__autor-info
                          .slider__name= review.author
                          .slider__position= review.position
          section.contact
            .container
              .title.contact__title Связаться со мной
              .contact__form
                form.form(method="post" action="/")
                  .input-row
                    .input-wrapper
                      input.input#name(type="text" name="name"  placeholder=" " required )
                      +icon('user','input-icon')
                      label.input-label(for="name") Введите ваше имя
                    .input-wrapper
                      input.input#email(type="email" name="email" placeholder=" "  required )
                      +icon('envelope','input-icon')
                      label.input-label(for="email") Введите ваш email
                  .input-wrapper
                    textarea.textarea#message(name="message" placeholder=" ")
                    +icon('message','input-icon')
                    label.input-label(for="message") Сообщение к письму
                  .contact__btn
                    button.btn.btn--main(type="submit") Отправить
