mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className alt='alt')

mixin triangles(className)
  .triangles(class=`${className}`)
    svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
      polygon(points="0,0 0,100 1000,100")
    svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
      polygon(points="0,100 1000,100 1000,0")

mixin parallax1
  .parallax.parallax--mountains
    .parallax__layer(data-speed="0.1")
      +image('parallax1/1.jpg','parallax__img')
    .parallax__layer(data-speed="0.13")
      +image('parallax1/2.png','parallax__img')
    .parallax__layer(data-speed="0.16")
      +image('parallax1/3.png','parallax__img')
    .parallax__layer(data-speed="0.19")
      +image('parallax1/4.png','parallax__img')
    .parallax__layer(data-speed="0.22")
      +image('parallax1/5.png','parallax__img')
    .parallax__layer(data-speed="0.25")
      +image('parallax1/6.png','parallax__img')
    .parallax__layer(data-speed="0.1")
      +image('parallax1/7.png','parallax__img')
mixin parallax2
  .parallax.parallax--buddha
    .parallax__layer(data-speed="0")
      +image('parallax2/1.jpg','parallax__img')
    .parallax__layer(data-speed="0.1")
      +image('parallax2/2.png','parallax__img')
    .parallax__layer(data-speed="0.18")
      +image('parallax2/3.png','parallax__img')
    .parallax__layer(data-speed="0.19")
      +image('parallax2/4.png','parallax__img')
    .parallax__layer(data-speed="0.1")
      +image('parallax2/5.png','parallax__img')
    .parallax__layer(data-speed="0.1")
      +image('parallax2/6.png','parallax__img')
    .parallax__layer()
      +image('parallax2/6.png','parallax__img')
